body{
    background-color: #444;
    padding: 60px;
}

#container{
    width: 350px;
    height: 380px;
    background-color: wheat;
    border-radius: 20px;
    padding: 40px 0 0 0;
    font-size: 30px;
    text-align: center;
    line-height: 2;
}

#displayOutput{
    padding: 10px;
    border-color: black;
    color: black;
    background-color: white;
    font-size: 18px;
}

/* KeyPads */

#btnContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 30px;
}

button{
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #444;
}
